.download-button-YDA {
    padding-left: 8px;
}

.YDA_list {
    width: 250px;
    height: auto;
    
    border-radius: 12px;
    
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    
    z-index: 1000;
    margin-left: -15px;
    margin-top: 8px;

    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 8px;

    background-color: rgba(24, 24, 24, 0.85);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

